.footer {
    background-color: #1a202c;
    color: #fff;
    
  
    }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .footer-bottom {
    padding: 1rem 2rem;
    border-top: 1px solid #4a5568;
 
   
  }